<header>

  <div class="row">
    <div class="po">
      <p>p</p>
      <p>o</p>
      <p>r</p>
      <p>t</p>
      <p>f</p>
      <p>o</p>
      <p>l</p>
      <p>i</p>
      <p>o</p>
    </div>
  </div><!-- row -->

</header>

<aside>
  <div class="row" >
    <div class="six columns">

        <section>
          <h2>
            The two most important days in your life are the day you were born and the day you find out why.
          </h2>

          <div class='loader'>
            <div class='loader-center'>
              <div class='chars'>
                <span class='char brace'>{</span>
                <span class='dots'>
                  <span class='char dot _dot-1'>.</span>
                  <span class='char dot _dot-2'>.</span>
                  <span class='char dot _dot-3'>.</span>
                </span>
                <span class='char brace'>}</span>
              </div>
            </div>
          </div>
        </section>

    </div>

    <div class="six columns" >

      <section>
        <p>
          <img src="/assets/red-triangle-1e.png" alt="" width="30px" style="float:left;">
          Hi, my name is Jose Chavez. I have been a front end developer for almost three years. I have been working on professional projects with different companies as well as on my own. My passion is to solve complex problems and continue to learn and use various front and backend skills. As a hobby, I enjoy reading books relating to physics and astronomy. As a developer, I am open and willing to work and learn more about any given task with no excuse. I am very interested in working on projects that challenge me. I would like to be given the opportunity to utilize and apply my skills, abilities, and knowledge to help become a true asset to my next employer. So enough writing, let's change the world together.
                    
        </p>
      </section>

    </div>
  </div>
</aside>

<section>
  <div class="row">
    <h1 class="center">WORK</h1>
    <div class="grid">
        <figure class="effect-julia">
          <a href="http://hiskipper.com/" target="_blank">
            <img src="/assets/skipper.png" width="100%" alt="skipper.">
            <figcaption>
                <h2>Skipper</h2>
                <div>
                    <p>Simplify your job search</p>
                    <p>Lead Front-End Developer</p>
                    <p>helped design and develop</p>
                </div>
            </figcaption>
          </a>
        </figure>
        <figure class="effect-julia">
          <a href="http://openassembly.com/" target="_blank">
            <img src="/assets/open.png" alt="open"/>
            <figcaption>
                <h2>open assembly</h2>
                <div>
                    <p>Front-End Developer</p>
                    <p>Educational sharing content</p>
                    <p>helped QA and develop</p>
                </div>
            </figcaption>
          </a> 
        </figure> 
    </div>
    <div class="grid">
        <figure class="effect-julia">
          <a href="http://employtoy.com/" target="_blank">
              <img src="/assets/employtoy.gif" alt="employtoy.">
            <figcaption>
                <h2>Emplotoy</h2>
                <div>
                    <p>Simplify your job search</p>
                    <p>Lead Front-End Developer</p>
                    <p>helped design and develop</p>
                </div>
            </figcaption>
          </a>
        </figure>
        <figure class="effect-julia">
            <img src="/assets/farm.png" alt="farmivore."/>
          <a href="http://farmivore.com/" target="_blank">
            <figcaption>
                <h2>Farmivore </h2>
                <div>
                    <p>Front-End Developer</p><br/>
                    <p>Helped on the UI/UX</p>
                </div>
            </figcaption>
          </a>
        </figure>
    </div>
    <div class="grid">
        <figure class="effect-julia">
            <img src="/assets/era.png" alt="era"/>
          <a href="http://eranyc.com/" target="_blank">
            <figcaption>
                <h2>ERA</h2>
                <div>
                    <p>Front-End Developer</p>
                    <p>Entrepreneurs Roundtable Accelerator</p>
                    <p>helped different comapines to develop</p>
                </div>
            </figcaption>
          </a>  
        </figure>
    </div>
  </div>
</section>

<h1 class="center">Personal Projects</h1>

<section>

  <div class="row">
    <div class="six columns">
    <a href="http://canelo19.github.io/codeFree" target="_blank">
        <img src="/assets/code.png" alt="code"/>
    </a>
    </div>

      <div class="six columns">
       <h2>CodeFree</h2>
        <p>
          CodeFree is a in-browser code editor. I developed codeFree thinking about video, code sharing and the most important, engaging with code Freeks. The point is to be able to develop and have fun at the same time. I know you are thinking this is just like <a href="http://codepen.io/" target="_blank">codepen</a> but is not. I can’t give you details now because I am working on it discretely.
          <br>
          <br>
          CodeFree will be the next big thing for developers..............
        </p>
      </div>
  </div>

</section>

<footer>           
  <div class="row">
      <div class="push_six six columns center">
          <div class="social-media">
              <h2>Social Media</h2>
              <a href="https://www.linkedin.com/in/josephcc1" class="ttip" target="_blank" data-tooltip="linked-in">
                  <i class="icon-linkedin"></i>
              </a>
              <a href="https://github.com/Jose-27" class="ttip" target="_blank" data-tooltip="github">
                  <i class="icon-github"></i>
              </a>
              <a href="https://twitter.com/studenthint" class="ttip" target="_blank" data-tooltip="twitter" class="twitter-follow-button" data-show-count="false">
                  <i class="icon-twitter"></i>
              </a>
          </div>
      </div>

        <div class="pull_six six columns d">
          <h1>
              <li>THE</li>
              <li style="color:red;">LEGACY</li>
              <li>PROJECT</li>
          </h1>
          <li>
              <i class="icon-picasa"></i>PORTFOLIO JOSE CHAVEZ                    
          </li>
      </div>
  </div>
</footer> 

